<div class="row align-items-center h-100">
  <div class="col mx-auto">
    <div class="display-2 text-center">
      Harrison Barker
    </div>

    <!--<p>-->
    <!--<ngb-alert [dismissible]="false">-->
    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
    <!--</ngb-alert>-->
    <!--</p>-->

    <div class="text-center">
      <!--<button class="btn btn-sm RouteButton" (click)="routeBlog()" placement="top" ngbTooltip="Goes to the blog">-->
      <!--Blog-->
      <!--</button>-->
      <div (click)="routeBlog()">
        <fa-icon [icon]="faCoffee" size="lg"></fa-icon>
      </div>
    </div>

    <hr class="Break">

    <div class="p-0 text-center Muted">
      &copy; 2019 OneExampleCompany, Harrison Barker. All rights reserved.
    </div>

    <div class="text-center my-2">
      <a target="_blank" href="https://twitter.com/Harrison_png" style="color: white">
        <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</div>
