<div class="row align-items-center h-100">
  <div class="col mx-auto">
    <div class="display-2 text-center">
      Harrison Barker
    </div>

    <!--<p>-->
    <!--<ngb-alert [dismissible]="false">-->
    <!--<strong>Warning!</strong> Better check yourself, you're not looking too good.-->
    <!--</ngb-alert>-->
    <!--</p>-->

    <div class="text-center">
      <button class="btn btn-sm btn-outline-info" (click)="routeBlog()" placement="top" ngbTooltip="Goes to the blog">
        Blog
      </button>
    </div>

    <hr class="Break">

    <div class="p-0 text-muted text-center">
      &copy; 2019 OneExampleCompany, Harrison Barker. All rights reserved.
    </div>

    <div class="text-center my-2">
      <a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/Harrison_png">
        <span class="fa fa-twitter"></span>
      </a>
    </div>
  </div>
</div>
